{% extends 'base.html' %}

{%block title%}Detalhar Setor{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Detalhar Setor</h2>
</div>


<div class="form">

    {% for nivel in setor %}
    <div class="detalhar">
        <h3>Nome</h3>
        <label>{{nivel.nome}}</label>
    </div>
    <div class="detalhar">
        <h3>Funcionário</h3>
        <ul>
            {% for funcionario in funcionarios%}
            <li>{{funcionario}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="detalhar">
        <h3>Nível</h3>
        <label>{{nivel.nivel}}</label>
    </div>
    <div class="detalhar">
        <h3>Gerente</h3>
        <label>{{nivel.gerente.nome}}</label>
    </div>
    {%endfor%}
    <div>
        <a href="javascript:history.back();">
            <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Voltar</button>
        </a>
    </div>
</div>
{% endblock%}