{% extends 'base.html' %}

{% block title %}Organograma{% endblock%}

{% block main %}
<div class="titulo">
    <h2>Organograma</h2>
</div>

<ul class="list-group">

    {% for nivel in listaSaida %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-4 centralizar">
                <div>
                    <span><b>Nome</b></span>
                </div>
                <span>{{nivel.nome}}</span>
            </div>
            <div class="col-sm-4 centralizar">
                <div>
                    <span><b>Responsável</b></span>
                </div>
                <span>{{nivel.funcionario}}</span>
            </div>
            <div class="col-sm-4 centralizar">
                <div>
                    <span><b>Setor</b></span>
                </div>
                <a href="{% url 'detalhar_nivel' nivel.pk %}">Setor</a>
            </div>
        </div>
    </li>
    {%endfor%}
</ul>
{% endblock%}