{% extends 'base.html' %}

{% block title %}Atualizar Nível{% endblock%}

{% block main %}

{% if messages %}
    {% for message in messages %}
        <input type="hidden" id="mensagem" value="{{message}}">
    {% endfor %}
{% endif %}

<div class="titulo">
    <h2>Atualizar Nível</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            {{form.nome}}
            <!--<input type="text" name="nome" maxlength="80" id="id_nome" required>-->
            <label>Nome</label>
        </div>
        <div>
            <label>Nível Superior</label>
            <!--{{ form.nivelSuperior }}-->
            <select name="nivelSuperior" id="id_nivelSuperior" class="custom-select">
                {% for f in form.nivelSuperior %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="select">Nível Inferior</label>
            <!--{{ form.nivelInferior }}-->
            <select name="nivelInferior" id="id_nivelInferior" class="custom-select">
                {% for f in form.nivelInferior %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="select">Responsável</label>
            <!--{{ form.funcionario }}-->
            <select name="funcionario" id="id_funcionario" class="custom-select" required>
                {% for f in form.funcionario %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-lg form_botao_direito">Salvar</button>
            <a href="javascript:history.back();">
                <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Valtar</button>
            </a>
        </div>
        <br>
    </form>
</div>
<script>
    $(document).ready(function(){
        m = $("#mensagem").val();
        console.log(m);
        if(m!=undefined){
            alert(m);
            <!--APENASS PARA TESTAR O GIT-->
        }
    });


</script>
{% endblock%}