{% extends 'base.html' %}

{% block title %}Organograma{% endblock%}

{% block main %}
<div class="titulo">
    <h2>Organograma</h2>
</div>

{% if listaSaida|length > 0 %}
    <div>
        {% for key, nivel in listaSaida.items %}
        <div>
            <div class="row linha">
                <div class="col-sm-4 centralizar">
                    <div>
                        <span><b>Nome</b></span>
                    </div>
                    <span>{{nivel.0.nome}}</span>
                </div>
                <div class="col-sm-4 centralizar">
                    <hr>
                    {% for setor in nivel.1 %}
                    <div class="setor">
                        <a href="">{{setor.nome}}</a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {%endfor%}
    </div>
{% else %}
    <h2 class="text-center">Não Existe Niveis Cadastrados</h2>
{% endif %}

<br><br><br>

{% if listaSaida|length > 0 %}
    <ul class="list-group">
        {% for key, nivel in listaSaida.items %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-4 centralizar">
                    <div>
                        <span><b>Nome</b></span>
                    </div>
                    <span>{{nivel.0.nome}}</span>
                </div>
                <div class="col-sm-4 centralizar">
                    <div>
                        <span><b>Responsável</b></span>
                    </div>
                    <span>{{nivel.0.funcionario}}</span>
                </div>
                <div class="col-sm-4 centralizar">
                    <div>
                        <span><b>Setor</b></span>
                    </div>
                    {% for setor in nivel.1 %}
                    <a href="{% url 'detalhar_nivel' setor.pk %}">{{setor.nome}}</a>
                    {% endfor %}

                </div>
            </div>
        </li>
        {%endfor%}
    </ul>
{% else %}
    <h2 class="text-center">Não Existe Niveis Cadastrados</h2>
{% endif %}



{% endblock%}