{% extends 'base.html' %}

{% block title %}Cadastrar Nível{% endblock%}

{% block main %}
<div class="titulo">
    <h2>Cadastrar Nível</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <input type="text" name="nome" maxlength="80" id="id_nome" required>
            <label>Nome</label>
        </div>
        <div>
            <label>Nível Superior</label>
            <select name="nivelSuperior" id="id_nivelSuperior" class="custom-select">
                {% for f in form.nivelSuperior %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="select">Nível Inferior</label>
            <select name="nivelInferior" id="id_nivelInferior" class="custom-select">
                {% for f in form.nivelInferior %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="select">Funcionário</label>
            <select name="funcionario" id="id_funcionario" class="custom-select" required>
                {% for f in form.funcionario %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div class="form_botao_direito">
            <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>
        </div>
        <br>
        <input type="hidden" name="organizacao" id="id_organizacao" value="{{ user.funcionario.organizacao.pk }}">
    </form>
</div>
<script>
        $("#id_nivelSuperior").change(function(){
        token = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        nivelS = $('#id_nivelSuperior').val();
        <!--console.log(nivelS);-->
        if(nivelS!=""){
            console.log("MIZERA");
            $.ajax({
                url:  '/nivel/pesquisa/' + nivelS + '/',
                type:  'POST',
                dataType:  'json',
                data: {
                    csrfmiddlewaretoken: token,
                },
                success: function  (data) {
                    <!--console.log(data);-->
                    if(data.nivelInf != "" && data.nivelSup != ""){
                        console.log("TEM SUP E INF => " + data.nivelInf);
                        <!--console.log(data.nivelInf);-->
                        $('#id_nivelInferior option[value='+ data.nivelInf + ']').attr({ selected : "selected" });

                    }else if(data.nivelSup != "" && data.nivelInf ==""){
                        console.log("TEM SUP => " + data.nivelInf);
                            <!--$('#id_nivelInferior').firstChild.attr({ selected : "selected" });-->
                            $("#id_nivelInferior option:first").prop('selected', 'true')

                    }else if(data.nivelSup == "" &&  data.nivelInf !=""){
                        console.log("TEM INF=> " + data.nivelInf );

                        <!--$('#id_nivelInferior option[value='+ data.nivelInf + ']').attr({ selected : "selected" });-->

                        <!--$('#id_nivelInferior option[value=" '+data.nivelInf+ '"]').attr({ selected : "selected" });-->
                        <!--$('#cidadeEntrega option[value="' + cidadeResidencia + '"]').attr({ selected : "selected" });-->
                    }
                }
            });
            console.log("FINAL DA CHAMADA");
            console.log("-------------------------");
        };
    });
</script>
{% endblock%}