{% extends 'base.html' %}

{% block title %}Organograma{% endblock%}

{% block main %}
<div class="titulo">
    <h2>Organograma</h2>
</div>

<ul class="list-group">
    {% for nivelF in object_list %}
        <span>Começo</span>
        <span>Fora</span>
        {% for nivelD in object_list %}

            {% if nivelF.nivelInferior == nivelD.nivelSuperior %}
<span>Dentro</span>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4 centralizar">
                            <div>
                                <span><b>Nome</b></span>
                            </div>
                            <span>{{nivelD.nome}}</span>
                        </div>
                        <div class="col-sm-4 centralizar">
                            <div>
                                <span><b>Nível Superior</b></span>
                            </div>
                            <span>{{nivelD.nivelSuperior}}</span>
                        </div>
                        <div class="col-sm-4 centralizar">
                            <div>
                                <span><b>Nível Inferior</b></span>
                            </div>
                            <span>{{nivelD.nivelInferior}}</span>
                        </div>
                    </div>
                </li>

            {% endif %}
<span>Outro</span>
        {%endfor%}

    {%endfor%}

    <h2 style="margin-top: 30px;">Todo</h2>

    {% for nivelF in object_list %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-sm-4 centralizar">
                <div>
                    <span><b>Nome</b></span>
                </div>
                <span>{{nivelF.nome}}</span>
            </div>
            <div class="col-sm-4 centralizar">
                <div>
                    <span><b>Nível Superior</b></span>
                </div>
                <span>{{nivelF.nivelSuperior}}</span>
            </div>
            <div class="col-sm-4 centralizar">
                <div>
                    <span><b>Nível Inferior</b></span>
                </div>
                <span>{{nivelF.nivelInferior}}</span>
            </div>
        </div>
    </li>
    {%endfor%}
</ul>
{% endblock%}