{% extends 'base.html' %}

{% block title %}Atualizar Nível{% endblock%}

{% block main %}
<div class="titulo">
    <h2>Atualizar Nível</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div>
            <label>Nível Superior</label>
            <select name="nivelSuperior" id="id_nivelSuperior" class="custom-select">
                {% for f in form.nivelSuperior %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="select">Nível Inferior</label>
            <select name="nivelInferior" id="id_nivelInferior" class="custom-select">
                {% for f in form.nivelInferior %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <label class="select">Funcionário</label>
            <select name="funcionario" id="id_funcionario" class="custom-select" required>
                {% for f in form.funcionario %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-lg form_botao_direito">Salvar</button>
            <a href="javascript:history.back();">
                <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Valtar</button>
            </a>
        </div>
        <br>
    </form>
</div>
{% endblock%}