<div class="mt-5 "></div>
<section class="py-5">
<div class="container my-5">
	<div class="row">
		<div class="col-md-6">
		    <h2 class="pb-3 text-center">Sistema de Aprovação por Hierarquia</h2>
		    <P class="text-justify">O Sistema de Aprovação por Hierarquia (SAPH) propõe serviços 
                que auxiliam as organizações para um melhor gerenciamento de 
                processos ou requisições entre os níveis de sua hierarquia. Assim, 
                facilitando as requisições feitas dentro da hierarquia, diminuindo 
                o tempo e aumentando a agilidade.
            </P>

            <img width="400px" style="display: block;margin-left: auto;margin-right: auto" class="justify-content-md-center" src="https://cdn.pixabay.com/photo/2018/07/24/07/47/organization-chart-3558622_960_720.png" />

		</div>
		<div class="col-md-6">
           <img width="450px" style="display: block;margin-left: auto;margin-right: auto" src="https://png.pngtree.com/element_origin_min_pic/16/12/13/eaf9fd21982d087e98df43017368a1fa.jpg" alt="">
		</div>
	</div>
</div>
</section>
<section class="py-5 bg-info">
<div class="container my-5 text-center">
    <div class="row mb-3">
        <div class="col-md-12">
            <h1 class="text-white">Nossos serviços</h1>
        </div>
    </div>
	<div class="row text-white">
		        <div class="col-md-4 ">
		            <img width="150px" src="https://cdn.pixabay.com/photo/2014/01/29/05/46/up-254090_640.png">
		            <h2 class="pt-3">Solicitar</h2>
		            <p>Um nível hierárquico inferior solicita para um nível superior</p>
		        </div>
		        <div class="col-md-4">
		            <img width="115" src="http://www.pngpix.com/wp-content/uploads/2016/10/PNGPIX-COM-Arrow-Down-PNG-Transparent-Image-500x655.png">
		            <h2 class="pt-3">Delegar</h2>
		            <p>Um nível hierárquico superior delega para um nível inferior</p>
		        </div>
		        <div class="col-md-4">
		            <img width="120px" src="https://i1.wp.com/www.pontualecomunicacao.com.br/wp-content/uploads/2016/07/05-1.png?resize=1140%2C1436">
		            <h2 class="pt-3">Comunicação</h2>
		            <p>O sistema facilita a comunicação entre os níveis hierárquicos</p>
		        </div>
		    </div>
     <div class="row text-white">
		        <div class="col-md-4">
		            <img width="150px" src="https://blog.even3.com.br/wp-content/uploads/2016/12/Regra-de-ouro-para-a-organiza%C3%A7%C3%A3o-de-equipes-em-eventos-dividir-para-conquistar.png">
		            <h2 class="pt-3">Divisão</h2>
		            <p>É possível um divisão por setores que formam um nível hierárquico</p>
		        </div>
		        <div class="col-md-4">
		            <img width="100px" src="https://pngimage.net/wp-content/uploads/2018/06/historico-png-7.png">
		            <h2 class="pt-3">Histórico</h2>
		            <p>Se pode manter um histórico de delegações e solicitações por funcionário</p>
		        </div>
		        <div class="col-md-4">
		            <img  width="80px" src="http://smpublica.com/blog/wp-content/uploads/2017/04/agilidade.png">
		            <h2 class="pt-3">Agilidade</h2>
		            <p>Agiliza os processos de uma organização</p>
		        </div>
		    </div>
</div>
</section>
<section class="py-5 bg-white">
<div class="container my-5">
	<div class="row">
		<div class="col-md-6">
		    <h2 class="pb-3 text-center">Abrangência</h2>
		    <P class="text-justify">O sistema de configurações do SAPH permitirá sua adaptação e abrangência
                 à maioria (senão todos) dos ambientes organizacionais que necessitarem 
                 de mais controle e agilidade nos processos de solicitação e resposta que 
                 ocorrem entre seus setores, permitindo que cada setor possa realizar ou 
                 responder às solicitações de setores de outros níveis hierárquicos.
              Além disso, os serviços oferecidos pelo SAPH serão disponibilizados via
               plataforma web, através de um PC ou Smartphone. Deste modo o acesso de
                usuários e interessados será facilitado.
             </P>
		</div>
		<div class="col-md-6">
		    <img style="display: block;margin-left: auto;margin-right: auto" src="https://professorannibal.files.wordpress.com/2016/12/dg23imagem.png">
		</div>
	</div>
</div>
</section>

