<div class="mt-5 ">
<section class="py-5">
<div class="container my-5">
	<div class="row">
		<div class="col-md-6">
		    <h2 class="pb-3 text-center">Sistema de Aprovação por Hierarquia</h2>
		    <P class="text-justify">O Sistema de Aprovação por Hierarquia (SAPH) propõe serviços 
                que auxiliam as organizações para um melhor gerenciamento de 
                processos ou requisições entre os níveis de sua hierarquia. Assim, 
                facilitando as requisições feitas dentro da hierarquia, diminuindo 
                o tempo e aumentando a agilidade.
            </P>

            <img width="400px" style="display: block;margin-left: auto;margin-right: auto" class="justify-content-md-center" src="https://cdn.pixabay.com/photo/2018/07/24/07/47/organization-chart-3558622_960_720.png" />

		</div>
		<div class="col-md-6">
           <img width="450px" style="display: block;margin-left: auto;margin-right: auto" src="https://png.pngtree.com/element_origin_min_pic/16/12/13/eaf9fd21982d087e98df43017368a1fa.jpg" alt="">
		</div>
	</div>
</div>
<%- include('em-comum') -%>
</div>


