<section class="py-5  bg-secondary">
        <div class="container my-5 text-center text-white">
            <div class="row mb-3">
                <div class="col-md-12 ">
                    <h2>Sobre o SAPH</h2>
                    <h4>Sistema de Aprovação por Hierarquia</h4>
             </div>
            </div>
            <hr>
            <div class="row ">

                <div class="col-md-12">
                <p class="text-justify">
                   O Sistema de Aprovação por Hierarquia (SAPH) propõe
                   erviços que auxiliam as organizações para um melhor
                   gerenciamento de processos ou requisições entre os níveis
                    de sua hierarquia. Assim, facilitando as requisições
                    feitas dentro da hierarquia, diminuindo o tempo e aumentando
                     a agilidade.
                </p>
                <p class="text-justify">
                    Essa operação será realizada por uma aplicação WEB onde cada
                     funcionário (usuário) da organização poderá realizar suas
                     devidas solicitações ou processos para seus superiores.
                      A aplicação que controlará toda a comunicação das requisições
                       será independente e com sua própria base de dados.
                </p>
                <p class="text-justify">
                    Para contratação e implantação do serviço na organização será
                     disponibilizado um portal WEB, onde os contratantes poderão
                     determinar seu sistema hierárquico baseado em suas regras de
                      negócio.
                 </p>
                </div>

            </div>
        </div>
        </section>
        <%- include('em-comum') -%>
