<form class="text-left " style="color: #757575;" action="index.html" method="post" id="solicitacao" >
  <div class="col">

    <div class="body-solicitacao" >
      <ul class="list-group" id="lista">
        <li class="list-group-item bg-info text-light" style=" margin-bottom:10px;">
          <div class="text-dark font-weight-bold">
            pedindo pra matar<a class="btn float-right bg-warning text-light" data-toggle="modal" data-target="#largeModal"  href="" name="button">DESCRIÇÃO</a>
          </div>
        </li>

        </ul>
    </div>

  </div>
</form>
