<div class="container-fluid no-print" >
  <div class="row flex-xl-nowrap" id="cards">

  <div class="col-12 col-md-9 col-xl-3 py-md-3 bd-content">
    <div class="card fixed" style="height: 700px;" >
      <div class="card-header-fixed algolia-autocomplete text-center py-4" style="padding: 10px;">
          <input type="search" class="form-control ds-input nav-link"
          placeholder="Pesquisar..."
          style="vertical-align: top;" >
      </div>

      <div class="list-group list-group-flush">

        <div class="dropdown delega">
          <span class="btn btn-secondary w-100 dropdown-toggle bg-dark text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Cagar na pia
          </span>
          <div class="dropdown-menu w-100 " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Salvar</a>
            <a class="dropdown-item" href="#">Clonar</a>
            <a class="dropdown-item" href="#">Excluir</a>
          </div>
        </div>

        <div class="dropdown delega">
          <span class="btn btn-secondary w-100 dropdown-toggle bg-dark text-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Se lascar
          </span>
          <div class="dropdown-menu w-100 " aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Salvar</a>
            <a class="dropdown-item" href="#">Clonar</a>
            <a class="dropdown-item" href="#">Excluir</a>
          </div>
        </div>

      </div>

    </div>

  </div>

  <style type="text/css">

  .panel-footer .pagination { margin: 0; }
  .panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
  .panel-body .radio, .checkbox { display:inline-block;margin:0px; }
  .panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
  .list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
  .list-group { margin-bottom:0px; }

  </style>
  <!-- col-12 col-md-3 col-xl-2 bd-content-->
