</div>
</div>
</div>
</div>
<!-- marcio -->
<!-- large modal -->
<div class="modal fade no-print" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
<div class="modal-dialog modal-lg" id="modal3" >
<div class="modal-content " id="modal">
<div id="modal2">
  <button type="button" class="close text-white mr-5 mt-2" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="panel-group " id="accordion">
    <div class="panel bg-info text-light">
      <div class="panel-heading ">
        <h4 class="panel-title">
          <a>DETALHES DA DELEGAÇÃO</a>
        </h4>
      </div>
    </div><!-- /input-group image-preview [TO HERE]-->
  </div>
</div>

<div class="modal-body" id="bodyModal">
  <div class="card fixed " style="height: 700px; text-align: right;" id="campos">
    <div class="panel-group">
      <div class="panel bg-dark text-light">
        <div class="panel-heading">
          <h4 class="panel-title text-center">
            <a> Se Mate</a>
          </h4>
        </div>
      </div><!-- /input-group image-preview [TO HERE]-->
    </div>

      <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto"  id="cardSolici">
        <form class="text-left " style="color: #757575;" action="index.html" method="post" id="solicitacao" >
          <div class="col">
            <div class="md-form">
              <div class="input-group mb-3">
                <div class="input-group-prepend ">
                  <span class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</span>
                </div>
                <select name="tipo" id="tipo" requerid class="custom-select w-100">
                  <option value=""><span class="flag-icon flag-icon-gr"></span>Select Country</option>
              </select>
              </div>
            </div>

            <div class="body-solicitacao">
              <div class="itens"></div>
            </div>

          </div>
        </form>
        <hr>
      </div>

      <div class="form-group float-right mr-5">
        <button type="button" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-send"></span> Enviar</button>
        <button type="submit" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
        <button type="submit" class="btn btn-success btn-sm">
        <span class="glyphicon glyphicon-print" id="imprimir"></span> Imprimir</button>
      </div>

</div>
<div class="">
  <div id="comentarios" class="card-body col-md-6 mt-5 float-right overflow-auto " style="background-color:#DCDCDC; height: 185px;">
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>
    <p>k</p>

  </div>


  <div class="col-md-6 mt-0">
              <div class="widget-area no-padding blank">
              <div class="status-upload">
                <form>
                  <textarea placeholder="Escreva o seu comentário?" ></textarea>

                  <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Comentar</button>
                </form>
              </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
          </div>
</div>


</div>


<div class="modal-footer no-print" >
  <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
  <button type="button" class="btn btn-primary">Salvar</button>
</div>
</div>
</div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<style type="text/css">
.custom-select{
    background-color:#2473A4;
    background-size:10% 50%;
    color:#FAFAFA;
    border-radius: 0px 0px 0px;
    height:30px;
    width:100%;
    border:0px;
    font-size: 14px;
}

@media (max-width: 575.98px) {
.form-row {
display: block;
}
.body-solicitacao{
display: block;
}
}

}

body{ background: #fafafa;}
.widget-area.blank {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
-webkit-box-shadow: none;
-moz-box-shadow: none;
-ms-box-shadow: none;
-o-box-shadow: none;
box-shadow: none;
}
body .no-padding {
padding: 0;
}
.widget-area {
background-color: #fff;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-ms-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
-o-box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 16px rgba(0, 0, 0, 0.05);
float: left;
margin-top: 30px;
padding: 25px 30px;
position: relative;
width: 100%;
}

#comentarios{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
}
.status-upload {
background: none repeat scroll 0 0 #f5f5f5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
float: left;
width: 100%;
}
.status-upload form {
float: left;
width: 100%;
}
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
-ms-border-radius: 4px 4px 0 0;
-o-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 20px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
-ms-transition: all 0.4s ease 0s;
-o-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
color: #fff;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}
</style>

<script type="text/javascript">
$('#demo01').click(function(event) {
event.preventDefault();
this.blur(); // Manually remove focus from clicked link.
$.get(this.href, function(html) {
$(html).appendTo('body').animatedModal();
});
});

$('#imprimir').click(function(){
window.print('new', '_blank');
});

</script>
<script type="text/javascript">
  alert("oi");
</script>
<% include("script-modal") %>
