<div class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content">
    <div class="card fixed " style="height: 700px; text-align: right;" id="campos">
      <div class="card text-center py-4" >
        <h3>DADOS PESSOAIS</h3>
      </div>
      <br>

        <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto"  id="cardSolici">
 
        </div>
        <div class="card-header text-center rodapeCard" >

        </div>
    </div>
</div>
