<div class="col-12 pl-md-5 bd-content">
        <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto"  id="cardSolici">
        
          <form action="" method="post">
            <div class="form-group">
                <label>Cidade:</label>
                <input class="form-control" type="text" name="fullname" value="Caixa Prego"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
              <label>Estado:</label>
              <input class="form-control" type="text" name="fullname" value="Estado de Calamidade"/>
              <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>CEP:</label>
                <input class="form-control" type="text" name="fullname" value="sei lá"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Bairro:</label>
                <input class="form-control" type="text" name="fullname" value="Casa de Carai"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Rua:</label>
                <input class="form-control" type="text" name="fullname" value="Rua do seu rabo"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                    <label>Número:</label>
                    <input class="form-control" type="text" name="fullname" value="69"/>
                    <span class="Error"></span>
                </div>

            <div class="form-group text-center">
                <input class="btn btn-info " type="submit" value="Salvar alterações"/>
            </div>
        </form>

        </div>
</div>

<%- include('cssdoscoisa') -%>