<div class="col-12 col-md-9 col-xl-3 py-md-3 ">
  <div class="card  overflow-auto" style="height: auto;" >
    <div class="card text-center py-4">
      <h3>CONFIGURAÇÕES</h3>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="ajustes/dados"><span class="glyphicon glyphicon-picture"></span> Dados pessoais</a></li>
        <li><a href="/ajustes/login-ajustes"><span class="glyphicon glyphicon-user"></span> Login </a></li>
        <li><a href="/ajustes/localizacao"><span class="glyphicon glyphicon-map-marker"></span> Localização</a></li>
        <li><a href="/ajustes/organizacionais"><span class="glyphicon glyphicon-home"></span> Organizacionais</a></li>
    </ul>
  </div>
</div>
