<div class="col-12 pl-md-5 bd-content">
        <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto"  id="cardSolici">
        
          <form action="" method="post">
            <div class="form-group">
                <label>Organização:</label>
                <input class="form-control" type="text" name="fullname" value="Bar de Gorete"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
              <label>Cargo:</label>
              <input class="form-control" type="text" name="fullname" value="Cafetão"/>
              <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Setor:</label>
                <input class="form-control" type="text" name="fullname" value="adadf"/>
                <span class="Error"></span>
            </div>

            <div class="form-group text-center">
                <input class="btn btn-info " type="submit" value="Salvar alterações"/>
            </div>
        </form>

        </div>
</div>

<%- include('cssdoscoisa') -%>
