<footer class="mt-4 mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>
          <a href="">Início</a>
          <a href="">Sobre</a>
          <a href="">Contato</a>
        </p>
      </div>
      <div class="col-md-4 d-flex justify-content-end">
        <a href="" class="btn btn-outline-dark">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="btn btn-outline-dark ml-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="btn btn-outline-dark ml-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="btn btn-outline-dark ml-2">
          <i class="fab fa-youtube"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
<!-- JavaScript (Opcional) -->
<!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
