<div class="container  ">

<header ><!-- inicio Cabecalho -->
  <nav class= "navbar navbar-expand-sm navbar-light bg-info ">
    <div class="container">

      <a href="/inicio" class="navbar-brand">
       <h2 class="text-info bg-white">SAPH</h2>
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse " id="nav-principal" >
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a href="/inicio" class="nav-link">Início</a>
          </li>
          <li class="nav-item dropdown">
            <a href="/solicitacoes" class="nav-link dropdown-toggle" data-toggle='dropdown'>Solicitações</a>

            <div class="dropdown-menu   bg-info" >

              <a href="/solicitacoes/new" class="dropdown-item text-light bg-info">Nova Solicitação </a>
              <a href="/solicitacoes" class="dropdown-item text-light bg-info">Minhas Solicitações</a>
              <a href="/solicitacoes" class="dropdown-item text-light bg-info">Solicitações guardadas</a>

           </div>
         </li>
         <li class="nav-item dropdown">
            <a href="/delegacao" class="nav-link dropdown-toggle" data-toggle='dropdown'>Delegações</a>

            <div class="dropdown-menu bg-info">

              <a href="/delegacao" class="dropdown-item text-light bg-info">Nova Delegação </a>
              <a href="/delegacao" class="dropdown-item text-light bg-info">Minhas Delegações</a>

           </div>
         </li>
          <li class="nav-item">
            <a href="/visualizar" class="nav-link">Visualizar</a>
          </li>
          <li class="nav-item">
            <a href="/Exportar" class="nav-link">Exportar</a>
          </li>
          <li class="nav-item bl-10">
            <a href=""><img src="../img/user.png "  class=" bl-10 " id="user"></a>
            <a href=""><span class="badge badge-primary">2</span></a>
            <a href=""><span class="badge badge-danger">4</span></a>
          </li>
        </ul>
      </div>

    </div>
  </nav>
</header><!--/fim Cabecalho -->
