
  <nav class="navbar navbar-expand-lg navbar-absolute fixed-top text-info navbar-transparent " style="height: 70px; border-radius: 0" id="vaoselascar">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <div class="navbar-toggle">
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-bar bar1"></span>
            <span class="navbar-toggler-bar bar2"></span>
            <span class="navbar-toggler-bar bar3"></span>
          </button>
        </div>
      </div>

      <a class="navbar-toggler" href="#"  data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
          <span class="navbar-toggler-bar navbar-kebab"></span>
      </a>

      <form>
       <div class="input-group no-border w-70  float-left">
            <input type="text" class="search-query form-control" value="" placeholder="O que você procura?">
        </div>
      </form>

      <div class="collapse navbar-collapse justify-content-end d-sm-inline " id="navigation">



       <ul class="navbar-nav float-right" style="background-color: lightgray">
          <li class="nav-item btn-rotate dropdown">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-bell"></i>
              <p>
                <span class="d-lg-none d-md-block text-light">Notificações</span>
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/solicitacoes/recebidas">Solicitações     <span class="badge badge-success badge-pill">24</span></a>
              <a class="dropdown-item" href="/delegacoes/recebidas">Delegações      <span class="badge badge-warning badge-pill">69</span></a>
            </div>
          </li>


            <li class="nav-item btn-rotate dropdown">
              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
                <p>
                  <span class="d-lg-none d-md-block text-light">Perfil</span>
                </p>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/ajustes/login-ajustes">Editar perfil</a>
                <a class="dropdown-item" href="/logout">Sair</a>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>

  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

  <script src="../assets/js/plugins/chartjs.min.js"></script>

  <script src="../assets/js/plugins/bootstrap-notify.js"></script>

  <script src="../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>

  <script src="../assets/demo/demo.js"></script>


  <style type="text/css">
    @media (max-width: 575.98px) {
      div#navigation{
        background-color:white;
      }
    }

  </style>
