
<div class="wrapper">
  <div class="sidebar "  id="sidebar" data-color="black" data-active-color="danger">

    <div class="logo">
      <h3 class="text-center text-info">SAPH</h3>
    </div>
    <div class="sidebar-wrapper">
      <div class="w-100" >
        <img style="width:100px; margin-left:25%" src="../img/user.png" >
        <p class="text-light" style="margin-left:25%"><%=funcionario.nome%></p>
      </div>
      <ul class="nav list-unstyled components">
        <li class="">
          <a class="text-info"href="/inicio">
            <i class=" text-info fas fa-home"></i>
            <p>Início</p>
          </a>
        </li>
        <%if(funcionario.nivel.nivelSuperior != 0){%>
          <li>
            <a class="text-info"href="/solicitacoes/nova">
              <i class="text-info fas fa-hand-point-up"></i>
              <p>Solicitar</p>
            </a>
          </li>
        <%}%>
        <%if(funcionario.nivel.nivelInferior != 0){%>
          <li>
            <a class="text-info"href="/delegacoes/nova">
              <i class="text-info fas fa-hand-point-down"></i>
              <p>Delegar</p>
            </a>
          </li>
        <%}%>
        <li>
          <a  data-toggle="collapse" data-target="#solicit" aria-expanded="false" class="text-info">  <i class="text-success fas fa-envelope"></i><span>Solicitações </span>  <span><i class="float-right text-info fas fa-angle-down"></i></span></a>
          <ul class="collapse list-unstyled bg-dark "  id="solicit">
            <li><a href="/solicitacoes/recebidas">Recebidas</a></li>
            <%if(funcionario.nivel.nivelSuperior != 0){%>
              <li><a href="/solicitacoes/enviadas">Enviadas</a></li>
            <%}%>
          </ul>
        </li>
        <li>
          <a  data-toggle="collapse" data-target="#deleg" aria-expanded="false" class="text-info">  <i class="text-warning fas fa-envelope"></i><span>Delegações </span>  <span><i class="float-right text-info fas fa-angle-down"></i></span></a>
            <ul class="collapse list-unstyled bg-dark"  id="deleg">
                <li><a href="/delegacoes/recebidas">Recebidas</a></li>
                <%if(funcionario.nivel.nivelInferior != 0){%>
                  <li><a href="/delegacoes/enviadas">Enviadas</a></li>
                <%}%>
            </ul>
        </li>
        <li>
          <a class="text-info" href="/visualizar">
            <i class="text-info fas fa-sitemap"></i>
            <p>Minha hierarquia</p>
          </a>
        </li>
        <li>
          <a class="text-info" href="/exportar">
            <i class="text-info fas fa-file-pdf"></i>
            <p>Exportar</p>
          </a>
        </li>
        <li>
          <a class="text-info" href="/logout">
            <i class="text-danger fas fa-sign-out-alt"></i>
            <p>Sair</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
  <%- include('header') -%>



    <!-- Chart JS -->
    <script src="../assets/js/plugins/chartjs.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="../assets/js/plugins/bootstrap-notify.js"></script>
    <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="../assets/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
    <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
    <script src="../assets/demo/demo.js"></script>
    <script>
      $(document).ready(function() {
        // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
        demo.initChartsPages();
      });
    </script>

    <style>

    </style>
