<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="modal-header" id="home">
        <h4 class=" modal-title" width:"600px"; >SAPH</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body">
        <div class="lowin-box-inner">
          <div id="formContent">

            <div class="fadeIn first">
              <h4 class="modal-title">Login</h4>
            </div>


            <form action="inicio">
              <div class="form-group">

                <input type="text" name ="email" class="form-control" placeholder="E-mail" required="required">
              </div>
              <div class="form-group">

                <input type="password" name = "senha" class="form-control" placeholder="Senha" required="required">
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-info btn-block btn-lg" value="Login">
              </div>
            </form>


            <div class="modal-footer">
              <a href="#">Esqueceu sua senha?</a>
            </div>

          </div>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" id="home">
        <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
      </div>

    </div>
  </div>
</div>

<style type="text/css">

.modal-login h4 {
    text-align: center;
    font-size: 26px;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.form-group {
  margin-bottom: 15px;
}
.modal-footer {
  background: #ecf0f1;
  border-color: #dee4e7;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  justify-content: center;
}
.modal-login .modal-footer a {
  color: #999;
}
</style>
