<section class="caixa mt-10" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2 class="text-center">Organograma da empresa contratante</h2>
          <p>
            É possível visualizar a disposição entre os níveis hierárquicos da Empresa X
          </p>
        </div>
      </div>
      <div class="col-md-6" align="center">



        <!--{% if listaSaida|length > 0 %}-->
            <div class="organograma">
                <!--{% for key, nivel in listaSaida.items %}-->
                <div>
                    <div class="row linha">
                        <div class="col-sm-3 centralizar">
                            <div>
                                <span class="nome_nivel" data-toggle="modal" data-target="#modalNivel" data-id='Nome_Nivel|Nome_Responsável' id="abrirModalNivel">Nome do nível</span>
                            </div>
                        </div>
                        <div class="col-sm-9 centralizar">
                            <div class="centralizar">
                                <!--{% for setor in nivel.1 %}-->
                                    <button class="setor" data-toggle="modal" data-target="#modalSetor" data-id='Nome_Setor|Nome_funcionário' id="abrirModalSetor">Nome do setor</button>
                                <!--{% endfor %}-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--{%endfor%}-->
            </div>
        <!--{% else %}-->
            <!--<h2 class="text-center">Não Existe Niveis Cadastrados</h2>-->
        <!--{% endif %}-->


        <!-- Modal -->
        <div class="modal fade" id="modalNivel" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="titulo_modal">
                            <h5 class="modal-title nome_do_nivel" id="TituloModalCentralizado"></h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centralizar">
                        <h4>Responsável</h4>
                        <span id="responsavel"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="modalSetor" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="titulo_modal">
                            <h5 class="modal-title nome_do_setor" id="TituloModalCentralizado"></h5>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body centralizar">
                        <h4>Responsável</h4>
                        <span id="responsavel_setor"></span>
                    </div>
                </div>
            </div>
        </div>

        <script>
        $(document).ready(function(){
            $(document).on("click", "#abrirModalNivel", function () {
                var info = $(this).attr('data-id');
                var str = info.split('|');
                var nome = str[0];
                var responsavel = str[1];
                $(".nome_do_nivel").text(nome);
                $("#responsavel").text(responsavel);
            });
            $(document).on("click", "#abrirModalSetor", function () {
                var info = $(this).attr('data-id');
                var str = info.split('|');
                var nome = str[0];
                var responsavel = str[1];
                $(".nome_do_setor").text(nome);
                $("#responsavel_setor").text(responsavel);
            });
        });
        </script>

      </div>
    </div>
  </div>
</section>

<section><!-- Início seção home -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex"><!-- Textos da seção -->
        <div class="align-self-center">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Solicitações Recentes</h4>
              <h6 class="card-subtitle">Subtítulo do cartão</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sapien dui, feugiat et lorem quis, fringilla maximus nisl. Vivamus sed est pulvinar, aliquet purus ut, dictum elit.</p>
              <a class="btn btn-outline-primary" href="">Ver Solicitação</a>
            </div>
          </div>
        </div>
      </div><!--/fim textos da seção -->
      <div class="col-md-4 d-none d-md-block ">
      </div>
    </div>
  </div>
</section><!--/fim seção home -->

<section class="caixa"><!--/Início seção saiba -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-left">
          <div class="align-self-left">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Delegações Recentes</h4>
                <h6 class="card-subtitle">Subtítulo do cartão</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sapien dui, feugiat et lorem quis, fringilla maximus nisl. Vivamus sed est pulvinar, aliquet purus ut, dictum elit.</p>
                <a class="btn btn-outline-primary" href="">Ver Solicitação</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section><!--/FIM seção saiba -->
