<section id="home"><!-- Início seção home -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex"><!-- Textos da seção -->
        <div class="align-self-center">
          <h1 class="display-4 text-center">Sistema de Aprovação por Hierarquia</h1>
          <p class="text-justify">
            O Sistema de Aprovação por Hierarquia (SAPH) propõe serviços que auxiliam as organizações para um melhor gerenciamento de processos ou requisições entre os níveis de sua hierarquia.
          </p>


          <p>
            Nome da Organização
          </p>

        </div>
      </div><!--/fim textos da seção -->
      <div class="col-md-4 d-none d-md-block ">
        <img src="img/org.png" >
      </div>
    </div>
  </div>
</section><!--/fim seção home -->

<%- include('content/section1') -%>
<%- include('content/section2') -%>
