<section id="home"><!-- Início seção home -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 d-flex"><!-- Textos da seção -->
        <div class="align-self-center text-justify">
          <h1 class="display-4 text-center">Sistema de Aprovação por Hierarquia</h1>
          <p class="text-justify">
              O Sistema de Aprovação por Hierarquia (SAPH) propõe serviços
              que auxiliam as organizações para um melhor gerenciamento de
              processos ou requisições entre os níveis de sua hierarquia.
              Assim, facilitando as requisições feitas dentro da hierarquia,
              diminuindo o tempo e aumentando a agilidade. </p>
          <p class="text-justify">
              Essa operação será realizada por uma aplicação WEB onde cada
              funcionário (usuário) da organização poderá realizar suas devidas
              solicitações ou processos para seus superiores. A aplicação que
              controlará toda a comunicação das requisições será independente e
               com sua própria base de dados. </p>
          <p class="text-justify">
              Para contratação e implantação do serviço na organização será
               disponibilizado um portal WEB, onde os contratantes poderão
               determinar seu sistema hierárquico baseado em suas regras de negócio.</p>

        </div>
        <div class="col-md-4 col-sm-12 d-none d-md-block">
          <img src="img/adminitracao.png" style="padding-left:30px;">
        </div>
      </div><!--/fim textos da seção -->
    </div>
  </div>
</section><!--/fim seção home -->

<%- include('content/section1') -%>
<%- include('content/section2') -%>
