<section class="caixa mt-10" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2 class="text-center">Organograma da empresa contratante</h2>
          <p>
            É possível visualizar a disposição entre os níveis hierárquicos da Empresa X
          </p>
        </div>
      </div>
      <div class="col-md-6" align="center">
        <img src="img/organograma.png" class="img-fluid">
        <a href="" class="btn btn-primary text-center">Exibir Organograma</a>
      </div>
    </div>
  </div>
</section>

<section><!-- Início seção home -->
  <div class="container">
    <div class="row">
      <div class="col-md-4 d-flex"><!-- Textos da seção -->
        <div class="align-self-center">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Solicitações Recentes</h4>
              <h6 class="card-subtitle">Subtítulo do cartão</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sapien dui, feugiat et lorem quis, fringilla maximus nisl. Vivamus sed est pulvinar, aliquet purus ut, dictum elit.</p>
              <a class="btn btn-outline-primary" href="">Ver Solicitação</a>
            </div>
          </div>
        </div>
      </div><!--/fim textos da seção -->
      <div class="col-md-4 d-none d-md-block ">
      </div>
    </div>
  </div>
</section><!--/fim seção home -->

<section class="caixa"><!--/Início seção saiba -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-left">
          <div class="align-self-left">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Delegações Recentes</h4>
                <h6 class="card-subtitle">Subtítulo do cartão</h6>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sapien dui, feugiat et lorem quis, fringilla maximus nisl. Vivamus sed est pulvinar, aliquet purus ut, dictum elit.</p>
                <a class="btn btn-outline-primary" href="">Ver Solicitação</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</section><!--/FIM seção saiba -->
