<div class="content  tudo">
    <div class="row">
      <div class="col-md-8 ">
        <div class="card">
          <div class="card-header text-center">
            <h2 class="card-title">Seja bem vindo </h2>
          </div>
          <div class="card-body" style="height:700px;">

            <div class="row">
              <%if(funcionario.nivel.nivelInferior != 0){%>
                <div class="col-md-6 col-xl-6 seinao">
                    <div class="card mb-3 widget-content bg-success">
                        <div class="widget-content-wrapper text-white">
                            <div class="widget-content-left">
                                <div class="widget-heading p-2">Novas solicitações</div>
                            </div>
                            <div class="widget-content-right">
                                <div class="widget-numbers text-white"><span class="badge badge-primary badge-pill">14</span></div>
                            </div>
                        </div>
                    </div>
                </div>
              <%}%>
              <%if(funcionario.nivel.nivelSuperior != 0){%>
              <div class="col-md-6 col-xl-6 seinao">
                <div class="card mb-3 widget-content bg-warning">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading p-2">Novas delegações</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span class="badge badge-primary badge-pill">12</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
          </div>

          <div class="row">
            <%if(funcionario.nivel.nivelInferior != 0){%>
              <div class="col-md-6 col-xl-6 seinao">
                  <div class="card mb-3 widget-content bg-success">
                      <div class="widget-content-wrapper text-white">
                          <div class="widget-content-left">
                              <div class="widget-heading p-2">Solicitações confirmadas</div>
                          </div>
                          <div class="widget-content-right">
                              <div class="widget-numbers text-white"><span class="badge badge-primary badge-pill">44</span></div>
                          </div>
                      </div>
                  </div>
              </div>
            <%}%>
            <%if(funcionario.nivel.nivelSuperior != 0){%>
              <div class="col-md-6 col-xl-6 seinao">
                <div class="card mb-3 widget-content bg-warning">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading p-2">Delegações confirmadas</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span class="badge badge-primary badge-pill">1</span></div>
                        </div>
                    </div>
                </div>
            </div>
          <%}%>
        </div>

        <div class="row">
          <%if(funcionario.nivel.nivelInferior != 0){%>
            <div class="col-md-6 col-xl-6 seinao">
                <div class="card mb-3 widget-content bg-success">
                    <div class="widget-content-wrapper text-white">
                        <div class="widget-content-left">
                            <div class="widget-heading p-2">Solicitações em análise</div>
                        </div>
                        <div class="widget-content-right">
                            <div class="widget-numbers text-white"><span class="badge badge-primary badge-pill">4</span></div>
                        </div>
                    </div>
                </div>
            </div>
          <%}%>
          <%if(funcionario.nivel.nivelSuperior != 0){%>
          <div class="col-md-6 col-xl-6 seinao">
            <div class="card mb-3 widget-content bg-warning">
                <div class="widget-content-wrapper text-white">
                    <div class="widget-content-left">
                        <div class="widget-heading p-2">Delegações em análise</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-white"><span class="badge badge-primary badge-pill">16</span></div>
                    </div>
                </div>
            </div>
        </div>
        <%}%>
      </div>

          <div class="row mt-4">

          <div class="col-md-12 col-xl-12 seinao">
            <div class="card mb-3 widget-content bg-info" style="max-height:500px">
                <h1>organograma da empresa</h1>
            </div>
        </div>
          </div>
            </div>

          </div>
        </div>

        <div class="col-md-4 ">
          <div class="card">
            <div class="card-header text-center">
              <h2 class="card-title">Arquivos salvos</h2>
            </div>
            <div class="card-body" style="height:700px;">
              <%if(funcionario.nivel.nivelSuperior != 0){%>
                <div class="card">
                  <div class="card-header text-center bg-success text-white">
                    <h4 class="card-title">Solicitações</h4>
                  </div>
                  <div class="card-body overflow-auto" style="height:260px;">

                    <div class="list-group">
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                    </div>

                  </div>

                  </div>
                <%}%>
                <%if(funcionario.nivel.nivelInferior != 0){%>
                  <div class="card">
                    <div class="card-header text-center bg-warning text-white">
                      <h4 class="card-title">Delegações</h4>
                    </div>
                    <div class="card-body overflow-auto" style="height:260px;">

                      <div class="list-group">
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                      </div>

                    </div>

                    </div>
                  <%}%>
            </div>

            </div>
          </div>
      </div>
    </div>
  </div>

  <style type="text/css">
.widget-content .widget-content-wrapper {
    display: flex;
    flex: 1;
    position: relative;
    align-items: center;
}
.widget-content .widget-content-left .widget-heading {

    font-weight: bold;
}
.widget-content .widget-content-right {
    margin-left: auto;
}
@media (max-width: 991.98px){
.widget-content .widget-numbers {
    font-size: 1.6rem;
    line-height: 1;
}}
.widget-content .widget-numbers {
    font-weight: bold;
    font-size: 1.8rem;
    display: block;
}
  </style>
