{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilo_login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/responsivo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilo_formulario.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/posicionamento.css' %}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>

{% if user.username %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'page_home'%}">SAPH</a>
    <div class="collapse navbar-collapse" id="navb">
        <ul class="navbar-nav mr-auto">
            {% if not user.funcionario.organizacao %}
            <a class="btn bg-info" href="{% url 'cadastrar_organizacao' %}">CADASTRAR ORGANIZAÇÃO</a>
            {% else %}
            <!-- Dropdown -->
            {%if user.funcionario.cargo == 'admin' %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">
                    Organização
                </a>
                <div class="dropdown-menu">
                    <!--<a class="dropdown-item" href="#">Cadastrar</a>-->
                    <a class="dropdown-item" href="{% url 'atualizar_organizacao' user.funcionario.organizacao.pk%}">Editar</a>
                </div>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop1" data-toggle="dropdown">
                    Funcionario
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cadasrtrar_funcionario' user.funcionario.organizacao.pk %}">Cadastrar</a>
                    <a class="dropdown-item" href="{% url 'listar_funcionarios' %}">Listar</a>
                    <a class="dropdown-item" href="{% url 'listar_funcionarios_bloqueado' %}">Bloqueados</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop2" data-toggle="dropdown">
                    Setor
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cadastrar_setor' user.funcionario.organizacao.pk %}">Cadastrar</a>
                    <a class="dropdown-item" href="{% url 'listar_setor' %}">Listar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop3" data-toggle="dropdown">
                    Nível
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cadastrar_nivel' user.funcionario.organizacao.pk %}">Cadastrar</a>
                    <a class="dropdown-item" href="{% url 'listar_nivel' %}">Listar</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbardrop4" data-toggle="dropdown">
                    Solicitação
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'cadasrtrar_solicitacao' %}">Cadastrar</a>
                    <a class="dropdown-item" href="{% url 'listar_solicitacao' %}">Listar</a>
                </div>
            </li>
            {% endif%}
        </ul>
        <div class="my-2 my-lg-0">
            <div class="dropdown">
                {%if user.funcionario.foto %}
                <img src="{{MEDIA_URL}}{{user.funcionario.foto.url}}" data-toggle="dropdown" class="rounded-circle imagem_perfil" alt="Imagem do usuário">
                {% else %}
                <img src="{{MEDIA_URL}}media/media/funcionario/sem_foto.png" data-toggle="dropdown" class="rounded-circle imagem_perfil" alt="Imagem do usuário">
                {% endif %}
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="">Perfil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout'%}">Sair</a>
                </div>
            </div>
        </div>
    </div>

</nav>

{% endif %}
<br>
<div class="container">
    {%block main%}
    {%endblock%}
</div>
</body>
</html>