{% extends 'base.html' %}

{%block title%}Cadastrar Solicitação{%endblock%}

{% block main %}

{% if messages %}
    {% for message in messages %}
        <input type="hidden" id="mensagem" value="{{message}}">
    {% endfor %}
{% endif %}

<div class="titulo">
    <h2>Cadastrar Solicitação</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <input type="text" name="tipo" maxlength="100" id="id_tipo" required>
            <label>Nome</label>
        </div>
        <div class="inputBox">
            <input type="text" name="descricao" maxlength="300" id="id_descricao" required>
            <label>Descrição</label>
        </div>
        <div>
            <label>Níveis</label>
            {{form.nivel}}
        </div>
        <div>
            <div>
                <label class="form_botao_esquerdo">Itens</label>
                <!-- Botão para acionar modal -->
                <button type="button" class="btn btn-outline-secondary btn-sm form_botao_direito" data-toggle="modal" data-target="#ExemploModalCentralizado">Adicionar item</button>
            </div>
            {{form.itens}}
        </div>
        <div class="form_botao_direito">
            <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>
        </div>

    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="titulo_modal">
                    <h5 class="modal-title" id="TituloModalCentralizado">Adicionar Item</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="inputBox">
                        <input id = 'id_novo_item' type="text" name="nome" maxlength="25" required>
                        <label>Nome do Item</label>
                    </div>
                </div>
                <hr class="margem_hr">
                <form id = 'campos' method="POST">
                    <div class="row">
                        <div class="col-sm-6">
                            <select class="custom-select" required name="tipo">
                                <option value="" selected>---------</option>
                                <option value="text">Texto</option>
                                <option value="number">Numérico</option>
                                <option value="date">Data</option>
                                <option value="file">Arquivo</option>
                            </select>
                        </div>
                        <div class="form col-sm-6">
                            <div class="inputBox">
                                <input type="text" name="nome" maxlength="100" required>
                                <label>Nome</label>
                            </div>
                        </div>
                        <div class="form col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Descrição</label>
                            <textarea class="form-control" rows="2" name="descricao"></textarea>
                        </div>
                    </div>
                    <div id="div_adicionar"></div>
                </form>
                <hr>
                <div class="texto_direita">
                    <button type="button" class="btn btn-outline-secondary btn-sm" id="adicionar">Adicionar campo</button>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id ="cadastrar" class="btn btn-outline-success">Adicionar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $("#cadastrar").click(function(){
        campos = $('#campos').serializeArray();
        campos.unshift({
            name:'csrfmiddlewaretoken',
            value:'{{ csrf_token }}'
        });
        console.log(campos);
        $.post("{% url 'cadastrar_campo'%}",$.param(campos, true),function(data){
            console.log('irru'+data);
        });
        novoItem = $('#id_novo_item').val();
        $.post("{% url 'cadastrar_item'%}",
            {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                nome:novoItem
            },
            function(data){
            console.log(data);
            $('#ExemploModalCentralizado').modal('hide');
            $('#id_itens').append('<option value='+data.id+' selected>'+data.nome+'</option>');
        });
    });

    $("#adicionar").click(function(){
        $("#div_adicionar").append(
        '<div id="pai">'+
            '<hr class="hr_item">'+
            '<div class="texto_direita">'+
                '<span class="cursor_clique" onclick="remover(this)">X</span>'+
            '</div>'+
            '<div class="row">'+
                '<div class="col-sm-6">'+
                    '<select class="custom-select" required name="tipo">'+
                        '<option value="" selected>---------</option>'+
                        '<option value="text">Texto</option>'+
                        '<option value="number">Numérico</option>'+
                        '<option value="date">Data</option>'+
                        '<option value="file">Arquivo</option>'+
                    '</select>'+
                '</div>'+
                '<div class="form col-sm-6">'+
                    '<div class="inputBox">'+
                        '<input type="text" name="nome" maxlength="25" required>'+
                        '<label>Nome</label>'+
                    '</div>'+
                '</div>'+
            '</div>'+
            '<div class="row">'+
                '<div class="col-sm-12">'+
                    '<label>Descrição</label>'+
                    '<textarea class="form-control" name = "descricao" rows="3"></textarea>'+
                '</div>'+
            '</div>'+
        '</div>'
        );
    });

    function remover(filho) {
        var pai = filho.parentNode.parentNode;
        pai.remove();
    }
    $(document).ready(function(){
        m = $("#mensagem").val();
        <!--console.log(m);-->
        if(m!=undefined){
            alert(m);
         }
     });
</script>

{% endblock%}