{% extends 'base.html' %}

{%block title%}Atualizar Solicitacao{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Atualizar Solicitacao</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <input type="text" name="tipo" value="{{form.tipo.value}}" maxlength="25" id="id_tipo" required>
            <label>Nome</label>
        </div>
        <div class="inputBox">
            <input type="text" name="descricao" value="{{form.descricao.value}}" maxlength="300" id="id_descricao" required>
            <label>Descrição</label>
        </div>
        <div>
            <div>
                <label class="form_botao_esquerdo">Itens</label>
                <!-- Botão para acionar modal -->
                <button type="button" class="btn btn-outline-secondary btn-sm form_botao_direito" data-toggle="modal" data-target="#ExemploModalCentralizado">Adicionar item</button>
            </div>
            <select name="itens" id="itens" class="custom-select" multiple required>
                {% for f in form.itens %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-lg form_botao_direito">Atualizar</button>
            <a href="javascript:history.back();">
                <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Voltar</button>
            </a>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="titulo_modal">
                    <h5 class="modal-title" id="TituloModalCentralizado">Adicionar Item</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" id = 'form-item'>
                {% csrf_token %}
                <div class="modal-body form">
                    <div class="inputBox item">
                        <input type="text" maxlength="300" id="id_novo_item" required>
                        <label>Item</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id = 'cadastrar' class="btn btn-outline-success">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $("#cadastrar").click(function(){
        novoItem = $('#id_novo_item').val();
        $.ajax({
            url:  "{% url 'cadastrar_item'%}",
            type:  'POST',
            dataType:  'json',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                nome:novoItem 
            },
            success: function  (data) {
                console.log(data);
                $('#ExemploModalCentralizado').modal('hide');
                $('select').append('<option value='+data.id+' selected>'+data.nome+'</option>');
                
            }
        });
    });
</script>
{% endblock%}