{% extends 'base.html' %}

{%block title%}Cadastrar Delegação{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Cadastrar Delegação</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            {{ form.tipo }}
            <label>Nome</label>
        </div>
        <div class="inputBox">
            {{ form.descricao }}
            <label>Descrição</label>
        </div>
        <div>
            <div>
                <label class="form_botao_esquerdo">Itens</label>
                <!-- Botão para acionar modal -->
                <button type="button" class="btn btn-outline-secondary btn-sm form_botao_direito" data-toggle="modal" data-target="#ExemploModalCentralizado">Adicionar item</button>
            </div>
            <select name="itens" id="id_itens" class="custom-select" multiple required>
                {% for f in form.itens %}
                    {{f}}
                {% endfor %}
            </select>
        </div>
        <div class="form_botao_direito">
            <button type="submit" class="btn btn-success btn-lg">Cadastrar</button>
        </div>

    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="titulo_modal">
                    <h5 class="modal-title" id="TituloModalCentralizado">Adicionar Item</h5>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <button type="button" class="btn btn-outline-secondary btn-sm">Adicionar campo</button>
                </div>
                <hr class="margem_hr">
                <div class="row">
                    <div class="col-sm-6">
                        <select class="custom-select" required>
                            <option value="" selected>---------</option>
                            <option value="">Texto</option>
                            <option value="">Numérico</option>
                            <option value="">Data</option>
                            <option value="">Arquivo</option>
                        </select>
                    </div>
                    <div class="form col-sm-6">
                        <div class="inputBox">
                            <input type="text" name="" maxlength="25" required>
                            <label>Descrição</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" id ="cadastrar" class="btn btn-outline-success">Adicionar</button>
            </div>
        </div>
    </div>
</div>
<script>
    $("#cadastrar").click(function(){
        novoItem = $('#id_novo_item').val();
        $.ajax({
            url:  "{% url 'cadastrar_item'%}",
            type:  'POST',
            dataType:  'json',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                nome:novoItem
            },
            success: function  (data) {
                console.log(data);
                $('#ExemploModalCentralizado').modal('hide');
                $('select').append('<option value='+data.id+' selected>'+data.nome+'</option>');

            }
        });
    });
</script>
{% endblock%}