.titulo {
	text-align: center;
	margin-top: 3%;
	margin-bottom: 5%;
}
.centralizar {
    text-align: center;
}

.imagem_perfil {
    width: 40px;
}

.menu_direita {
    margin-left: auto;
}

.botao_menu {
    margin-left: auto;
}

.texto_direita {
    text-align: right;
}


.hr_item {
    margin-top: 7%;
}

.apagar_item {
    margin-botton: 3%;
}

.linha {
    margin-bottom: 3%;
    border-bottom-style: dotted;
    border-bottom-width: 2px;
}

.setor {
    /*background-color: #9d9fa2;*/
    background-color: #c4c4c4;
    border: 1px solid black;
    border-radius: 10px;
    width: 23%;
    float: left;
    padding: 1.5% 0%;
    margin: 0% 2% 1% 0%;
}

.nome_nivel {
    cursor: pointer;
}

.detalhar {
    margin-bottom: 3%;
}