<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

     <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">

<!------ Include the above in your HEAD tag ---------->
    <!-- Estilo customizado -->
    <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    <link rel="stylesheet" media="print" type="text/css" href="../css/print.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title><%= title %></title>
  </head>
  <nav class="navbar navbar-expand-sm navbar-light bg-info">
    <div class="container">

      <a href="/" class="navbar-brand">
       <h2 class="text-info bg-white">SAPH</h2>
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">
        <span class="navbar-toggler-icon "></span>
      </button>

      <div class="collapse navbar-collapse " id="nav-principal" >
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a href="/" class="nav-link">Início</a>
          </li>
          <li>
            <a href="/sobre" class="nav-link">Sobre</a>
          </li>
          <li class="nav-item">
            <a href="/contato" class="nav-link">Contato</a>
          </li>
          <li class="nav-item">
            <a href=""class="btn btn-outline-light text-dark ml-4" data-toggle="modal" data-target="#myModal">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<%- include('base/modal-login') -%>
<%-include('base/section-index-contato')-%>
<%- include('base/conteudo-abaixo') -%>
