<%- include('base/conteudoTopo') -%>

<div class="container-fluid ">

<div class="container" style="margin-top: 20px;">
  <div class="row">
    <div class="col bg-info">
      <div class="card  overflow-auto" style="height: 700px;" >
        <div class="card-header-fixed text-center py-4" >
          <h3 style="font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;">ÍTENS</h3>
          <hr>
        </div>
        <ul class="overflow-auto" id="itens">
          <li>Item1</li>
          <ul>
            <li>Campo</li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="col-6">
      <div class="card fixed " style="height: 700px; text-align: right;" id="campos">
        <div class="card-header-fixed text-center py-4" >
          <h3 style="font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;">LISTA DE COMPRAS</h3>
          <hr>
        </div>
          <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto"  id="cardSolici">
            <form class="text-left " style="color: #757575;" action="index.html" method="post" id="solicitacao" >
              <div class="col">
                <div class="md-form">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                      <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                    </div>
                    <select name="itens" id="tipo" class="custom-select"  required>
                    </select>
                  </div>
                </div>

                <div class="body-solicitacao">
                  <div class="itens"></div>
                </div>

              </div>
            </form>
            <hr>
          </div>
          <div class="card-header text-center rodapeCard" id="home">

              <button type="submit" id="enviar" class="btn btn-info btn-lg" >Enviar</button>
              <button type="submit" id="guardar" class="btn btn-success btn-lg" >Editar</button>
              <button type="submit" id="guardar" class="btn btn-success btn-lg" >Clonar</button>
              <a href="#">
                <img id="imprimir" class="float-left" src="https://pt.seaicons.com/wp-content/uploads/2016/06/print-icon.png" width="50px">
              </a>
          </div>
      </div>

    </div>
    <div class="col bg-info">
      <div class="card " style="height: 700px;" >
        <div class="card-header-fixed text-center py-4" >
          <h3 style="font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;">COMENTÁRIOS</h3>
        </div>

        <div class="card-body fixed  overflow-auto " style="background-color:#DCDCDC;">
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
          <p>seil lá!</p>
        </div>

        <div class="card-float text-center bg-white" style="background-color:#DCDCDC;">
            <input style="margin:10px;" type="text" name="" value="">
            <a style="margin-bottom:10px;" class="btn bg-warning" href="#">Comentar</a>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
<%- include('base/conteudo-abaixo') -%>

<style type="text/css">
  @media (max-width: 575.98px) {
    .form-row {
      display: block;
    }

   }

</style>

<script type="text/javascript">

$('#imprimir').click(function(){
   window.print('new', '_blank');
});


</script>
