<div class="content">
  <div class="row">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header text-center">
          <h5 class="card-title">Nova solicitação</h5>
        </div>
        <div class="card-body" style="height:700px;">
          <div class="row">
            <div class="col-md-12 ">
              <div class="card-body px-lg-5 pt-0 pt-30 "  id="cardSolici">
                    <form class="text-left " style="color: #757575;" action="index.html" method="post" id="solicitacao" >
                      <div class="col">
                        <div class="md-form">
                          <div class="input-group mb-3">

                            <span class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos</span>

                            <select name="tipo" id="tipo" class="custom-select form-control form-control-lg"  required>
                              <%tipos.forEach(function(solicitacao){%>
                                <option value="<%=solicitacao.id%>"><%=solicitacao.nome%></option> 1
                             <%}); %>
                            </select>

                          </div>
                        </div>

                        <div class="body-solicitacao max-height-50 overflow-auto" style="height:550px">
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                          <div class="itens"> <p>s</p> </div>
                        </div>

                      </div>
                    </form>
                  </div>
                  <div class="card-footer">
                    <div class="form-group float-right mr-5">
                      <button type="button" class="btn btn-success btn-sm" id ="enviar">
                      <span class="glyphicon glyphicon-send"></span> Enviar</button>
                      <button type="submit" class="btn btn-success btn-sm" id ="guardar">
                      <span class="glyphicon glyphicon-floppy-disk" ></span> Guardar</button>
                      <button type="submit" class="btn btn-success btn-sm">
                      <span class="glyphicon glyphicon-print" id="imprimir"></span> Imprimir</button>
                    </div>

                  </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <div class="col-md-6 ml-auto mr-auto text-center">
                <h4 class="card-title">
                  Ítens
                </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
                <div class="card  overflow-auto" style="height: 300px;" >
                  <ul class="overflow-auto list-group  b-10 p-15" id="itens">
                    <li class="list-group-item">Item1</li>
                    <ul>
                      <li class="">Campo</li>
                      <li class="">Campo2</li>
                    </ul>
                  </ul>

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

$('#imprimir').click(function(){
   window.print('new', '_blank');
});
$('#guardar').click(function(){
  montarSolicitacao("cadadastrar");
});
$('#enviar').click(function(){
  montarSolicitacao("enviar");
});

function montarSolicitacao(acao){
  var dici = new Map();
  tipoSolicitacao = $("select[name='tipo']").val();
  tipoItens = [];
  $(".tipo-itens").each(function(item){
    tipoCampos = [];
    $("#"+$( this ).attr("id")+" .tipo-campos").each(function(campo){
      tipoCampos.push({
        tipoCampo:{
          id:$( this ).attr("data-id")
        },
        valor:$( this ).val()
      });
    });
    tipoItens.push({
      tipoItem:{
        id:$( this ).attr("id")
      },
      campos:tipoCampos,
    });
  });
  dici = {
    tipoSolicitacaoDelegacao:{
      id:tipoSolicitacao
    },
    solicitanteDelegante:{
      id:1
    },
    status:"SALVA",
    itens:tipoItens,
  }
  dici = JSON.stringify(dici);
  console.log(dici);
  $.post("http://localhost:3000/solicitacoes/"+acao,{'solicitacao':dici},function(data){
    alert(data);
  });
}
</script>
