<div class="container-fluid no-print" >
  <div class="row flex-xl-nowrap" id="cards">

  <div class="col-12 col-md-9 col-xl-3 py-md-3 bd-content">
    <div class="card fixed" style="height: 350px;" >
      <div class="card-header-fixed algolia-autocomplete text-center py-4" style="padding: 10px;">
          <input type="search" class="form-control ds-input nav-link"
          placeholder="Pesquisar..."
          style="vertical-align: top;" >
      </div>
      <ul class="list-group list-group-flush" id="itens">
        <a href=""><li class="list-group-item">Lista de compras</li></a>
        <a href=""><li class="list-group-item">Lista de compras</li></a>
        <a href=""><li class="list-group-item">Lista de compras</li></a>
      </ul>
    </div>

  </div>
  <!-- col-12 col-md-3 col-xl-2 bd-content-->

  <div class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content">
      <div class="card fixed " style="height: 700px; text-align: right;" id="campos" >

        <div class="card-header-fixed text-center py-4 print" >
          <h3 style="font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;" id="printSection">LISTA DE SOLICITAÇÕES</h3>
          <%-include('menu')-%>
        </div>
