{% extends 'base.html'%}
{% load static %}
{% block title %}Entrar{% endblock %}
{% block main%}
<div class="box">
    <h2>Entar</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <input type="email" name="username" required id="id_username">
            <label>E-mail</label>
        </div>
        <div class="inputBox">
            <input type="password" name="password" required id="id_password">
            <label>Senha</label>
        </div>
        <div>
            <input class="btn btn-primary form_botao_direito" type="submit" name="" value="Entrar">
            <a href="{% url 'pre_cadasrtrar_funcionario'%}">
                <button type="button" class="btn btn-link form_botao_esquerdo">Criar Conta</button>
            </a>
        </div>
    </form>
</div>
{% endblock %}