<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Seja Bem-Vindo ao Portal do Sistema de Aprovação Por Hieraquia (SAPH).</p>
    <p>Seu email com endereço {{email}} foi cadastro no Portal (SAPH).</p>
    <p>Por favor entre na sua conta e termine de preencher seus dados.</p>
    <!--<p>Para terminar o seu cadastro, clique nesse link:<a href="http://127.0.0.1:8000/clientes/pre?email={{email}}&token={{token}}">Finalizar Cadastro</a></p>-->
    <p>Para terminar o seu cadastro, clique nesse link:<a href="http://127.0.0.1:8000/funcionario/pre-atualizar-funcionario/{{pk}}">Finalizar Cadastro</a></p>
    <p>meu ID:{{pk}}</p>
</body>
</html>