{% extends 'base.html' %}

{%block title%}Atualizar Funcionário{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Atualizar Funcionário</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            {{form.nome}}
            <!--<input type="text" name="nome" maxlength="80" id="id_nome" required>-->
            <label>Nome</label>
        </div>
        <div class="inputBox">
            {{form.cpf}}
            <!--<input type="text" name="cpf" maxlength="14" id="id_cpf" required>-->
            <label>CPF</label>
        </div>
        <div class="inputBox">
            {{form.cargo}}
            <!--<input type="text" name="endereco" maxlength="100" id="id_endereco" required>-->
            <label>Cargo</label>
        </div>
        <div class="inputBox">
            {{form.endereco}}
            <!--<input type="text" name="endereco" maxlength="100" id="id_endereco" required>-->
            <label>Endereço</label>
        </div>
        <div class="inputBox">
            {{form.telefone}}
            <!--<input type="text" name="telefone" maxlength="10" id="id_telefone" required>-->
            <label>Telefone</label>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-lg form_botao_direito">Salvar</button>
            <a href="javascript:history.back();">
                <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Valtar</button>
            </a>
        </div>
        <br>
    </form>
</div>
{% endblock%}