{% extends 'base.html' %}

{% block main %}
<div class="titulo">
    <h2>Finalizar Pré Cadastro</h2>
</div>
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <input type="text" name="nome" required>
            <label>Nome</label>
        </div>
        <div class="inputBox">
            <input type="text" name="cpf" required>
            <label>CPF</label>
        </div>
        <div class="inputBox">
            <input type="text" name="cargo" required>
            <label>Cargo</label>
        </div>
        <div class="inputBox">
            <input type="text" name="endereco" required>
            <label>Endereço</label>
        </div>
        <div class="inputBox">
            <input type="text" name="telefone" required>
            <label>Telefone</label>
        </div>
        <div class="form_foto">
            <label>Foto</label>
            <input type="file" name="foto">
        </div>
        <div class="form_botao_direito">
            <input type="submit" class="btn btn-success btn-lg" name="" value="Finalizar">
        </div>
        <br>
    </form>
</div>

{% endblock%}