{% extends 'base.html' %}

{% block main %}
<h1>Finalizar Pre Cadastro</h1>
<form method="POST">
    {%csrf_token%}
    <div class="form-group">
        <label for="id_nome">Nome:</label>
        <input type="text" class="form-control" id="id_nome" placeholder="Nome" name="nome" required>
        <!--<div class="valid-feedback">Valid.</div>-->
        <!--<div class="invalid-feedback">Please fill out this field.</div>-->
    </div>
    <div class="form-group">
        <label for="id_cpf">CPF:</label>
        <input type="text" class="form-control" id="id_cpf" placeholder="CPF" name="cpf" required>
        <!--<div class="valid-feedback">Valid.</div >-->
        <!--<div class="invalid-feedback">Please fill out this field.</div>-->
    </div>
    <div class="form-group">
        <label for="id_cargo">Cargo:</label>
        <input type="text" class="form-control" id="id_cargo" placeholder="Cargo" name="cargo" value="admin" readonly="readonly" required>
        <!--<div class="valid-feedback">Valid.</div>-->
        <!--<div class="invalid-feedback">Please fill out this field.</div>-->
    </div>
    <div class="form-group">
        <label for="id_endereco">Endereço:</label>
        <input type="text" class="form-control" id="id_endereco" placeholder="Endereço" name="endereco" required>
        <!--<div class="valid-feedback">Valid.</div>-->
        <!--<div class="invalid-feedback">Please fill out this field.</div>-->
    </div>

    <div class="form-group">
        <label for="id_telefone">Telefone:</label>
        <input type="text" class="form-control" id="id_telefone" placeholder="Telefone" name="telefone" required>
        <!--<div class="valid-feedback">Valid.</div>-->
        <!--<div class="invalid-feedback">Please fill out this field.</div>-->
    </div>
    <div class="custom-file">
        <input type="file" class="custom-file-input" accept="image/*" name="foto" id="id_foto">
        <label class="custom-file-label" for="id_foto">Choose file</label>
    </div>
    <button type="submit">Cadastrar</button>
</form>
{% endblock%}