{% extends 'base.html' %}

{%block title%}Atualizar Funcionário{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Atualizar Funcionário</h2>
</div>
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            <input type="text" name="nome" value="{{form.nome.value}}" required>
            <label>Nome</label>
        </div>
        <div class="inputBox">
            <input type="text" name="cpf" value="{{form.cpf.value}}" required>
            <label>CPF</label>
        </div>
        <div class="inputBox">
            <input type="text" name="endereco" value="{{form.endereco.value}}" required>
            <label>Endereço</label>
        </div>
        <div class="inputBox">
            <input type="text" name="telefone" value="{{form.telefone.value}}" required>
            <label>Telefone</label>
        </div>
        <div>
            <input type="submit" class="btn btn-success btn-lg form_botao_direito" name="" value="Salvar">
            <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Valtar</button>
        </div>
        <br>
    </form>
</div>
{% endblock%}