{% extends 'base.html' %}

{% block main %}
<h1>Bloquear Funcionário</h1>
<form method="POST">
    {%csrf_token%}
    <h2>Nome:{{form.nome}}</h2>
    <br>
    <div class="custom-control custom-switch">
        {% if form.ativo.value == True %}
            <input type="checkbox" class="custom-control-input" name="ativo" id="id_ativo" checked>
        {% else %}
            <input type="checkbox" class="custom-control-input" name="ativo" id="id_ativo" >
        {% endif %}
        <label class="custom-control-label" for="id_ativo">Ativo</label>
    </div>
<!--    <input type="checkbox" name="ativo" id="id_ativo">-->
<!--    Ativo:{{form.ativo}}-->
    <br>
    <button type="submit">Cadastrar</button>
</form>
{% endblock%}