{% extends 'base.html' %}

{%block title%}Deletar Funcionário{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Deletar Funcionário</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="centralizar">
            <h4>Deseja realmente deletar o funcionário: {{ funcionario.nome }}</h4>
        </div>
        <div class="form_botao_direito">
            <button type="submit" class="btn btn-success btn-lg">Confirmar</button>
        </div>
    </form>
</div>

{% endblock %}