{% extends 'base.html' %}

{%block title%}Atualizar Funcionário{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Atualizar Funcionário</h2>
</div>
{% if messages %}

    {% for message in messages %}
        <input type="hidden" id="mensagem" value="{{message}}">
        <!--<div class="alert alert-success">-->
            <!--<strong>Success!</strong> This alert box could indicate a successful or positive action.-->
        <!--</div>-->
    <!--<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">-->
        <!--<div class="toast-header">-->
        <!--</div>-->
        <!--<div class="toast-body">-->
            <!--<p>{{message.color}}</p>-->
            <!--<h1>{{message}}</h1>-->
        <!--</div>-->
      <!--</div>-->
    {% endfor %}

{% endif %}
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            {{form.nome}}
            <!--<input type="text" name="nome" maxlength="80" id="id_nome" required>-->
            <label>Nome</label>
        </div>
        <div class="inputBox">
            {{form.cpf}}
            <!--<input type="text" name="cpf" maxlength="14" id="id_cpf" required>-->
            <label>CPF</label>
        </div>
        <div class="inputBox">
            {{form.cargo}}
            <!--<input type="text" name="endereco" maxlength="100" id="id_endereco" required>-->
            <label>Cargo</label>
        </div>
        <div class="inputBox">
            {{form.endereco}}
            <!--<input type="text" name="endereco" maxlength="100" id="id_endereco" required>-->
            <label>Endereço</label>
        </div>
        <div class="inputBox">
            {{form.telefone}}
            <!--<input type="text" name="telefone" maxlength="10" id="id_telefone" required>-->
            <label>Telefone</label>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-lg form_botao_direito">Salvar</button>
            <a href="javascript:history.back();">
                <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Voltar</button>
            </a>
        </div>
        <br>
    </form>
</div>
<script>
    $(document).ready(function(){
        m = $("#mensagem").val();
        <!--console.log(m);-->
        if(m!=undefined){
            alert(m);
        }
        $('#id_cpf').mask("999.999.999-99");
        $('#id_telefone').mask("(99) 9 9999-9999");
     });
</script>

{% endblock%}