<div class="container-fluid no-print" >
  <div class="row flex-xl-nowrap" id="cards">

  <div class="col-12 col-md-9 col-xl-3 py-md-3 bd-content">
    <div class="card fixed" style="height: 350px;" >
      <div class="card-header-fixed algolia-autocomplete text-center py-4" style="padding: 10px;">
          <input type="search" class="form-control ds-input nav-link"
          placeholder="Pesquisar..."
          style="vertical-align: top;" >
      </div>
      <ul class="list-group list-group-flush" id="itens">
        <a href=""><li class="list-group-item">Lista de compras</li></a>
        <a href=""><li class="list-group-item">Lista de compras</li></a>
        <a href=""><li class="list-group-item">Lista de compras</li></a>
      </ul>
    </div>

  </div>
  <!-- col-12 col-md-3 col-xl-2 bd-content-->

  <div class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content">
      <div class="card fixed " style="height: 700px; text-align: right;" id="campos" >

        <div class="card-header-fixed text-center py-4 print" >
          <h3 style="font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;" id="printSection">LISTA DE SOLICITAÇÕES</h3>
          <%-include('menu')-%>
        </div>

          <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto"  id="cardSolici">
            <form class="text-left " style="color: #757575;" action="index.html" method="post" id="solicitacao" >
              <div class="col">

                <div class="body-solicitacao" >
                  <ul class="list-group" id="lista">
                    <li class="list-group-item bg-info text-light" style=" margin-bottom:10px;">
                      <div class="text-dark font-weight-bold">
                        SOLICITAÇÃO<a class="btn float-right bg-warning text-light" data-toggle="modal" data-target="#largeModal"  href="" name="button">DESCRIÇÃO</a>
                      </div>
                    </li>

                    </ul>
                </div>

              </div>
            </form>
            <hr>
          </div>
      </div>
  </div>
</div>
</div>
<!-- large modal -->
<div class="modal fade no-print" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" id="modal3" >
    <div class="modal-content " id="modal">
      <div class="modal-header bg-info  text-light" id="modal2">
        <h4 class="modal-title" id="myModalLabel">DETALHES DA SOLICITAÇÃO</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="bodyModal">
        <div class="card fixed " style="height: 500px; text-align: right;" id="campos">
          <div class="card-header-fixed text-center py-4" >
            <h3 style="font-family: 'Roboto','Helvetica Neue',Helvetica,Arial,sans-serif;">LISTA DE COMPRAS</h3>
            <hr>
          </div>

            <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto"  id="cardSolici">
              <form class="text-left " style="color: #757575;" action="index.html" method="post" id="solicitacao" >
                <div class="col">
                  <div class="md-form">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>

                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>

                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>
                      <div class="input-group-prepend ">
                        <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                      </div>  <div class="input-group-prepend ">
                          <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                        </div>  <div class="input-group-prepend ">
                            <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                          </div>  <div class="input-group-prepend ">
                              <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                            </div>

                      <select name="itens" id="tipo" class="custom-select"  required>
                      </select>
                    </div>
                  </div>

                  <div class="body-solicitacao">
                    <div class="itens"></div>
                  </div>

                </div>
              </form>
              <hr>
            </div>
            <div class="card-header text-center rodapeCard no-print"  >

                <button type="submit" id="enviar" class="btn btn-info btn-lg" >Enviar</button>
                <button type="submit" id="guardar" class="btn btn-success btn-lg" >Editar</button>
                <a href="#">
                  <img id="imprimir" class="float-left" src="https://pt.seaicons.com/wp-content/uploads/2016/06/print-icon.png" width="50px">
                </a>
            </div>

      </div>
      <div id="comentarios" class="card-body   overflow-auto " style="background-color:#DCDCDC; height: 200px;">
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
        <p>seil lá!</p>
      </div>

      <div  class="card-float no-print text-center bg-white" style="background-color:#DCDCDC; style="width:200px;">
          <input style="margin:10px;" type="textarea"   "value="">
          <a style="margin-bottom:10px;" class="btn bg-warning" href="#">Comentar</a>
      </div>
      <div class="modal-footer no-print" >
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Salvar</button>
      </div>
    </div>
  </div>
</div>

<style type="text/css">
  @media (max-width: 575.98px) {
    .form-row {
      display: block;
    }
    .body-solicitacao{
      display: block;
    }
   }

 }
</style>

<script type="text/javascript">
  $('#demo01').click(function(event) {
    event.preventDefault();
    this.blur(); // Manually remove focus from clicked link.
    $.get(this.href, function(html) {
      $(html).appendTo('body').animatedModal();
    });
  });

$('#imprimir').click(function(){
   window.print('new', '_blank');
});

$('#guardar').click(function(){
  alert("data");
  $.post("http://localhost:3000/solicitacoes/cada",{'solicitacao':"vai q cola"},function(data){
    console.log(data);
  });
});

</script>
