
<div class="container-fluid ">
  <div class="row flex-xl-nowrap">

  <div class="col-12 col-md-9 col-xl-3 py-md-3 ">
    <div class="card">
      <div class="card-header  text-center py-4" id="home">
        <h3>Ítens</h3>
      </div>
      <ul id="itens">
        <li>Item1</li>
        <ul>
          <li>Campo</li>
        </ul>
      </ul>
    </div>
  </div>
  <!-- col-12 col-md-3 col-xl-2 bd-content-->

  <div class="col-12 col-md-9 col-xl-9 py-md-3 pl-md-5 bd-content">
      <div class="card fixed " style="height: 700px; text-align: right;">
        <div class="card-header-fixed text-center py-4" id="home">
          <h3>Nova solicitação</h3>
        </div>
        <br>
          <div class="card-body px-lg-5 pt-0 pt-30 overflow-auto" >
            <form class="text-left " style="color: #757575;" action="index.html" method="post" id="solicitacao" >
              <div class="col">
                <div class="md-form">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend ">
                      <label class="input-group-text " id="tipoSolicitacao" for="inputGroupSelect01">Tipos de solicitações</label>
                    </div>
                    <select name="itens" id="tipo" class="custom-select"  required>
                      <%tipos.forEach(function(solicitacao){%>
                            <option value="<%=solicitacao.tipo%>"><%=solicitacao.tipo%></option>
                      <%}); %>
                    </select>
                  </div>
                </div>

                <div class="body-solicitacao">
                  <div class="itens"></div>
                </div>

              </div>
            </form>
            <hr>
          </div>
          <div class="card-header text-center" id="home">

              <button type="submit" class="btn btn-info btn-lg" >Enviar</button>
              <button type="submit"  class="btn btn-success btn-lg" >Guardar</button>
              <a href="#">
                <img id="imprimir" class="float-left" src="https://pt.seaicons.com/wp-content/uploads/2016/06/print-icon.png" width="50px">
              </a>
          </div>
      </div>
  </div>
</div>
</div>
<style type="text/css">
  @media (max-width: 575.98px) {
    .form-row {
      display: block;
    }
    #imprimir{
      display: none;
    }
    #tipoSolicitacao{
      display: none;
    }
   }
   @media print {
     body{
       background-color: red;
     }
   }
</style>
<script type="text/javascript">
$('#imprimir').click(function(){
   window.print('new', '_blank');
});

</script>
