<section class="caixa"><!--/Início seção juros -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/caneta.png" class="img-fluid">
      </div>
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2>Melhore o gerenciamento de sua organização</h2>
          <p>
            O Sistema de Aprovação por Hierarquia (SAPH) propõe serviços que auxiliam as organizações para um melhor gerenciamento de processos ou requisições entre os níveis de sua hierarquia. Assim, facilitando as requisições feitas dentro da hierarquia, diminuindo o tempo e aumentando a agilidade.
          </p>
          <a href="" class="btn btn-primary">Veja mais</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/FIM seção juros -->
