<section class="caixa"><!--/Início seção juros -->
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="img/caneta.png" class="img-fluid">
      </div>
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2 class="text-center">Melhore o gerenciamento de sua organização</h2>
          <p class="text-justify">
            O Sistema de Aprovação por Hierarquia (SAPH) propõe serviços que auxiliam as organizações para um melhor gerenciamento de processos ou requisições entre os níveis de sua hierarquia. Assim, facilitando as requisições feitas dentro da hierarquia, diminuindo o tempo e aumentando a agilidade.
          </p>
          <a href="" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado2">Veja mais</a>
        </div>
      </div>
    </div>
  </div>
</section><!--/FIM seção juros -->
<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado2" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="text-center text-white" >Agilizando a comunicação entre setores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">O SAPH se adapta aos ambientes organizacionais que necessitarem de
          mais controle e agilidade nos processos de solicitação
          e resposta que ocorrem entre seus setores, permitindo
          que cada setor possa realizar ou responder às
          solicitações de setores de outros níveis hierárquicos.
         </p>
         <p class="text-justify">
          Além disso, os serviços oferecidos pelo SAPH serão disponibilizados
          via plataforma web, através de um PC ou Smartphone. Deste modo o acesso
          de usuários e interessados será facilitado.
         </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
