<section class="caixa"><!--/Início seção saiba -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2>Mais organização para sua empresa</h2>
          <p>
            Agilize o processo de requisição e resposta que os diferentes níveis hierárquicos precisam realizar entre si.
          </p>
          <a href="" class="btn btn-primary">Veja mais</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="img/saiba.png" class="img-fluid">
      </div>
    </div>
  </div>
</section><!--/FIM seção saiba -->
