<section class="caixa"><!--/Início seção saiba -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex">
        <div class="align-self-center">
          <h2 class="text-center">Mais organização para sua empresa</h2>
          <p class="text-justify">
            Agilize o processo de requisição e resposta que os diferentes níveis hierárquicos precisam realizar entre si.
          </p>
          <a href="" class="btn btn-primary" data-toggle="modal" data-target="#ExemploModalCentralizado">Veja mais</a>
        </div>
      </div>
      <div class="col-md-6">
        <img src="img/saiba.png" class="img-fluid">
      </div>
    </div>
  </div>
</section><!--/FIM seção saiba -->

<!-- Modal -->
<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="text-center text-white" >Agilizando a comunicação entre setores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-justify">As organizações funcionam em um ambiente hierárquico que habitualmente
          possui níveis com responsabilidades distintas. Esta distinção proporciona
          mais agilidade e eficiência nos processos executados. Porém, este esquema
          de hierarquia também faz com que haja a necessidade de um bom gerenciamento
          no que diz respeito às requisições que são realizadas entre setores. Tendo
          em vista que, muitas vezes, para que um setor tome uma decisão, ele necessita
          da aprovação de outro que ocasionalmente está em um nível superior.</p>
        <p class="text-justify">
          Considerando este cenário, temos uma visão geral de
          um sistema de aprovação por hierarquia genérico que, uma vez implementado
          em uma organização, agilizará o processo de requisição e resposta que seus
          diferentes níveis hierárquicos precisam realizar entre si. O sistema apresentado
          aqui também poderá ser configurado para atender ao contexto hierárquico no qual
          será inserido e, assim, atender às necessidades dos mais diversos tipos de
          ambientes organizacionais.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
