<div class="content">
  <div class="row">
    <div class="col-md-12 ">
      <div class="card">
        <div class="card-header text-center">
          <h4 class="card-title">Visualizar nível hierárquico</h4>
        </div>
        <div class="card-body" style="height:700px;">
          <div class="row">
            <div class="col-md-12 ">
              <div class="card-body px-lg-5 pt-0 pt-30 "  id="cardSolici">
                <div class="card fixed text-center " style="height: 600px; text-align: right;" id="campos" >
                    nível de riba
                      <br>
                    nível do mei
                      <br>
                    nivel de bâxo                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

