<div class="content">
    <div class="row">
      <div class="col-md-12 ">
        <div class="card">
          <div class="card-header text-center">
            <h4 class="card-title">Hierarquia</h4>
          </div>
          <div class="card-body" style="height:700px;">
            Nível de cima <br>

            Meu nivel <br>

            Nível de baixo <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  