{% extends 'base.html' %}

{%block title%}Atualizar Organização{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Atualizar Organização</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            {{ form.nome }}
            <label>Nome</label>
        </div>
        <div class="inputBox">
            {{ form.cnpj }}
            <label>CNPJ</label>
        </div>
        <div class="inputBox">
            {{ form.endereco }}
            <label>Endereço</label>
        </div>
        <div class="inputBox">
            {{ form.telefone }}
            <label>Telefone</label>
        </div>
        <!--<div class="inputBox">-->
            <!--{{ form.numeroNivel }}-->
            <!---->
            <!--<label>Quantidade de Níveis</label>-->
        <!--</div>-->
        <div>
            <button type="submit" class="btn btn-success btn-lg form_botao_direito">Salvar</button>
            <a href="javascript:history.back();">
                <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Valtar</button>
            </a>
        </div>
        <br>
    </form>
</div>
{% endblock%}