{% extends 'base.html' %}

{%block title%}Atualizar Organização{%endblock%}

{% block main %}
<div class="titulo">
    <h2>Atualizar Organização</h2>
</div>

<div class="form">
    <form method="POST">
        {% csrf_token %}
        <div class="inputBox">
            {{ form.nome }}
            <label>Nome</label>
        </div>
        <div class="inputBox">
            {{ form.cnpj }}
            <label>CNPJ</label>
        </div>
        <div class="inputBox">
            {{ form.endereco }}
            <label>Endereço</label>
        </div>
        <div class="inputBox">
            {{ form.telefone }}
            <label>Telefone</label>
        </div>
        <div>
            <button type="submit" class="btn btn-success btn-lg form_botao_direito">Salvar</button>
            <a href="javascript:history.back();">
                <button type="button" class="btn btn-secondary btn-lg form_botao_esquerdo">Voltar</button>
            </a>
        </div>
        <br>
    </form>
</div>
<script>
     $(document).ready(function(){
        $('#id_cnpj').mask("99.999.999/9999-99");
        $('#id_telefone').mask("(99) 9 9999-9999");
     });

</script>
{% endblock%}