{% extends 'base.html' %}

{% block main %}
<h1>Atualizar Organização</h1>
<form method="POST">
    {%csrf_token%}
    Nome:{{form.nome}}
    <br>
    CNPJ:{{form.cnpj}}
    <br>
    Endereco:{{form.endereco}}
    <br>
    Telefone:{{form.telefone}}
    <br>
    Situação:{{form.situacao}}
    <br>
    Quantidade Nivel:{{form.numeroNivel}}
    <br>
    <button type="submit" class="btn btn-warning">Cadastrar</button>
    <a href="{%url 'page_home'%}" class="btn btn-dark text-light">Home</a>
</form>
{% endblock%}