{% extends 'base.html' %}

{% block main %}
<h1 class="text-center">BEM-VINDO AO PORTAL SAPH</h1>
<ul class="list-group">
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'cadastrar_organizacao' %}">Cadastrar Organização</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'listar_organizacao' %}">Atualizar Organização</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'cadasrtrar_funcionario' %}">Cadastrar Funcionário</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'listar_funcionarios' %}">Atualizar Funcionário</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'listar_funcionarios' %}">Listar Funcionário</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'listar_funcionarios_bloqueado' %}">Funcionário Bloqueados</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'cadastrar_setor' %}">Cadastrar Setor</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'listar_setor' %}">Atualizar Setor</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'cadastrar_nivel' %}">Cadastrar Nivel</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'listar_nivel' %}">Listar Niveis</a>
    </li>
    <li class="list-group-item">
        <a class="btn btn-success text-dark" href="{% url 'cadasrtrar_solicitacao' %}">Cadastrar Solicitação</a>
    </li>
</ul>

{% endblock%}